<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Test" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Falconer_2020;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SkillGenre" value="Accounting|Developer|Sales"/>
    <add key="Developer" value="C#|Java|Python|PHP|HTML|ASP.NET|.NET Framework|.NET Core"/>
  </appSettings>
  
  
</configuration>